Service References/ProductionService/Common.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductionAidSearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Box" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holder" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductionAidSearchFilter" nillable="true" type="tns:ProductionAidSearchFilter" />
  <xs:complexType name="ArrayOfProductionAidDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductionAidDTO" nillable="true" type="tns:ProductionAidDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductionAidDTO" nillable="true" type="tns:ArrayOfProductionAidDTO" />
  <xs:complexType name="ProductionAidDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AidId" type="xs:int" />
      <xs:element minOccurs="0" name="ArtName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Box" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductionState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromisedDeliverDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Urgent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductionAidDTO" nillable="true" type="tns:ProductionAidDTO" />
  <xs:complexType name="ProductionAidUpdateFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AidId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductionAidUpdateFilter" nillable="true" type="tns:ProductionAidUpdateFilter" />
  <xs:complexType name="ProductionAidSetHolder">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProductionAidUpdateFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="SetToThisHolder" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductionAidSetHolder" nillable="true" type="tns:ProductionAidSetHolder" />
</xs:schema>