Service References/ProductionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common.DTO" />
  <xs:element name="GetProductionAidList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="filter" nillable="true" type="q1:ProductionAidSearchFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionAidListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="GetProductionAidListResult" nillable="true" type="q2:ArrayOfProductionAidDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="aid" nillable="true" type="q3:ProductionAidDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAidToBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="filter" nillable="true" type="q4:ProductionAidUpdateFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAidToBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnAidToBoxResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductionAidHolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="filter" nillable="true" type="q5:ProductionAidSetHolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductionAidHolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetProductionAidHolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessageAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.DTO" minOccurs="0" name="order" nillable="true" type="q6:ProductionAidDTO" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>