Web References/se.sll.thord.www/schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thord.bkv.sll.se/2005/03/08/base" elementFormDefault="qualified" targetNamespace="http://thord.bkv.sll.se/2005/03/08/base" id="schema4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfoDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="department" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="phone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>